
@font-face {
    font-family: 'Spartan';
    src: url('fonts/Spartan-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Spartan';
    src: url('fonts/Spartan-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Spartan';
    src: url('fonts/Spartan-Regular.ttf') format('truetype');
    font-weight: 400;

  }
body{
    max-width: 1200PX;
    font-size: 15px;
    font-family: 'Spartan';
    padding: 120px 150px 0 150px;
    /*margin: auto;*/
}
.top_content{
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.bottom_content{
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.speech-title{
    font-size: 50px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.speech-content{
    width: 450px;
    color: hsl(300, 43%, 22%);
}
.all_rated{
    flex: inherit;
}
.rated{
    width: 450px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
#rated1{
    position: relative;
    right: 80px;
}
#rated2{
    position: relative;
    right: 40px;
}
.rated_in{
    padding-left: 50px;
}
.review{
    width: 310px;
    height: 170px;
    padding: 25px;
    align-content: center;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: white;
}

.pastille{
    display: flex;
    align-items: center;
}
.buyer{
    border-radius: 50px;
    height: 40px;
}
.buyer_name{
    padding-left: 15px;
}
.verified_buyer{
    color: hsl(333, 80%, 67%);
}
#review2{
    position: relative;
    top: 25px;
}
#review3{
    position: relative;
    top: 50px;
}


 @media screen and (max-width: 800PX){
     body{
         padding: 0;
     }
    .top_content, .bottom_content{
       display: flex;
       flex-direction: column;
       height: max-content;
    }
    .speech-content{
        width: 365px;
        text-align: center;
    }
    .speech-content p{
        line-height: 26px;
        font-size: 16px;
        margin: 32px auto;
    }
    .speech-title{
        width: 256px;
        font-size: 30px;
        line-height: 29px;
        margin: 20px auto;
    }
    .all_rated{
        margin-bottom: 50px;
        align-self: self-start;
        width: 360px;
       
    }
    #rated1, #rated2, #rated3{
        width: 310px;
        height: min-content;
        margin: 10px AUTO;
        padding: 20px; 
        /* display: flex; */
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        position :unset;
        flex-direction: column;
        
    }
    .rated_in{
        font-size: 16px;
        padding: 10px 10px 0;
    }
    .footer{
        display: block;
        height:30px;
        background-color: chocolate;
    }
} 