
    @font-face {
        font-family: 'Spartan';
        src: url('fonts/Spartan-Bold.ttf') format('truetype');
        font-weight: 700;
      }

      @font-face {
        font-family: 'Spartan';
        src: url('fonts/Spartan-Medium.ttf') format('truetype');
        font-weight: 500;
      }
      @font-face {
        font-family: 'Spartan';
        src: url('fonts/Spartan-Regular.ttf') format('truetype');
        font-weight: 400;
      }
.blocpage{
    max-width: 1440px;
    height: 660px;
    margin:150px auto 0 auto;
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    font-family: "Spartan";
    font-weight: 400;
    }

.top_content{
    display: flex;
    justify-content: space-between;
    height: 500px;
    font-size: 20px;    
    color: hsl(300, 43%, 22%);
}
.speech-title{
    width: 600px;
    font-weight: bold;
    font-size: 65px;
    line-height: 63px;
    text-align: center;
    letter-spacing: -3px;
}
.speech-content{
    width: 600px;
    font: 500;
    line-height: 40px;
}
.rated{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    padding: 20px 0 190px 180px;

}

.rated1, .rated2, .rated3{
    display: flex;
    flex-direction: row;
    
    padding-left: 40px;
    margin-left:20px;
    
    line-height: 70px;
    border-radius: 10px;
    background-color: hsl(300, 24%, 96%);
    
} 
.star{
     width: 150px;
    
}
.rated1{
    margin-right: 100px;
}
.rated2{
    margin-left: 50px;
    margin-right: 50px;
}
.rated3{
    margin-left: 100px;
}
.bottom_content{
    display: flex;
    height: 400px;
    justify-content: space-between;
    }
.people_review1,.people_review2, .people_review3{
    max-width: 360px;
    height: 200px;
    border-radius: 10px;
    line-height: 25px;
    color: white;
    background-color: hsl(300, 43%, 22%) ;
    justify-content: space-between;
    padding:40px;
    margin: auto;
    

}
.buyer{
    font-weight: 500;
}
.verified_buyer{
    color: hsl(333, 80%, 67%);
    line-height: 25px;

}
.people_review2{
    margin-top: 30px;
}
.people_review3{
    margin-top: 60px;
}
.pastille{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buyer{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.attribution{
    text-align: center;
}

@media (max-width: 1060px){
    .top_content{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .speech-content{
        width: 375px;
        margin: 0px 10px;
    }
    .rated{
        min-width: 375px;
        width: 100%;
        padding: 0;
    }
    .rated1, .rated2, .rated3{
        margin: 20px 10px;
        padding: 0;
        text-align: center;
    }
    .bottom_content{
        display: block;
        height: auto;
        width: auto;
    }
}

@media (max-width: 375px){
    .top_content{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .speech-content{
        width: 375px;
        margin: 0px 10px;
    }
    .rated{
        width: 50vh;
        padding: 0;
    }
    .rated1, .rated2, .rated3{
        margin: 20px 10px;
        padding: 0;
        text-align: center;
    }
    .bottom_content{
        display: block;
        height: auto;
        width: auto;
    }
}